* {
  list-style: none;
  font-family: 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

h1, label {
  color: #fff;
}

h1 {
  padding-top: 1em;
  font-size: 3em;
}

label {
  margin: 1em;
  font-size: 1.2em;
}

.images {
  width: 100%;
  flex-direction: row;
  background-color: tomato;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1em;
  padding: 1em;
}

button {
  padding: 1em;
  border-radius: 25px;
  color: white;
  background-color: lightslategray;
  font-size: .8em;
  outline: none;
}

select, input {
  font-size: 1em;
}